$background-primary: #ffb727;
$background-alt-primary: #fff6e4;
$background-alt-color: #eef0f2;
$background-grey-color: #444;
$background-grey-alt-color: #777;
$background-secondary: #fff4df;
$background-blue: #2cbdee;
$background-green: #20b38e;
$background-orange: #ffb459;
$text-primary: #3b434a;
